/*Botones, hover: #FF00BF
Fondo de footer: #333447
Título del formulario: #352384
Texto del formulario: #728099
Gradiente morado: linear-gradient(#76278F, #2B1E66);*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin:0 auto;
	padding:0;
	height: 100%;
	width: 100%;
}

.backimg{
	background-image: url("../assets/images/hero.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:100%;
	height: 750px;
}

.navbar {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: red;
	height: 117px;
	top:0px;
}

.navbar li {
	list-style-type: none;
}

.navbar li a {
	position: relative;
	text-decoration: none;
	float:right;
	font-size: 19px;
	color: #fff;
	padding-left:30px;
	right: 320px;
	font-family: 'Montserrat', sans-serif;
	top: 34px;
}

.icon img{
	position: absolute;
	display: block;
	top:28%;
	left:64px;
}

.box2 {
	position: absolute;
	width: 557px;
	height: 420px;
	background-color: yellow;
	left: 786px;
	top: 115px;

}

.logbutton {
    background-color: blue;
    border: solid;
    color: white;
    border-width: 1px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: absolute;
    left: 1058px;
    top:36px;
}

.box2inside {
	position: absolute;
	width: 269px;
	height: 130px;
	background-color: blue;
	font-size: 12px;
	left: 65px;
	top:68px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 40px;
	padding: 0;
	margin:0;
	font-weight: 500;
	letter-spacing: -1px;
	line-height: 40px;
	color: #352384;

}

h2 {
	font-size: 16px;
	letter-spacing: -1px;
	font-weight: 500;
	padding-top: 10px;
	margin:0;
	color: #352384;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    color: #E4E8EF;
}