/*Botones, hover: #FF00BF
Fondo de footer: #333447
Título del formulario: #352384
Texto del formulario: #728099
Gradiente morado: linear-gradient(#76278F, #2B1E66);*/

body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif; /*letra que se usara en toda la página*/
}
div.backimg {
    background-image: url("../assets/images/hero.gif");
    background-repeat: no-repeat;
    width: 1343px;
    height: 645px;
    background-position: 0px -105px;
    background-size: 100%;
    padding: 0;
}
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: transparent;/*para que la barra de navegación sea transparente*/
    height: 117px;
    top: 0px;
}
.navbar li {
    list-style-type: none;/*quita adornos de las listas*/
}
.navbar li a {
    position: relative;
    text-decoration: none;
    float: right;
    font-size: 19px;
    color: #fff;
    padding-left: 30px;
    right: 308px;
    top: 34px;
}
.icon img {
    position: absolute;
    display: block;
    top: 28%;
    left: 85px;
}
.box2 {
    position: absolute;
    width: 537px;
    height: 420px;
    left: 806px;
    top: 115px;
    background: #fff;
}
.logbutton {
    border: solid;
    color: white;
    border-width: 1px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 18px;
    position: absolute;
    left: 1068px;
    top: 36px;
}
.box2inside {
    position: absolute;
    width: 269px;
    height: 130px;
    font-size: 12px;
    left: 65px;
    top: 68px;
}
h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    letter-spacing: -0.9px;
    line-height: 40px;
    color: #352384;
}
h2 {
    font-size: 15.6px;
    letter-spacing: -1px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0;
    color: #352384;
}
input[type=text] {
    width: 436px;
    padding: 10px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #352384;
    color: #728099;
    left: 65px;
    top: 190px;
    position: absolute;
    letter-spacing: 0.8px;
    font-size: 15px;
}
a.bdriver {
    background-color: #FF00BF;
    border: solid;
    color: white;
    border-width: 1px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 18px;
    position: absolute;
    right: 305px;
    top: 265px;
    color: #fff;
    position: absolute;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.3px;
}
.signup {
    position: relative;
    left: 258px;
    top: 284px;
    color: #728099;
}
.formtext {
    position: relative;
    font-size: 9.5px;
    width: 288px;
    height: 33px;
    top: 310px;
    left: 65px;
    color: #728099;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.box3 {
    height: 570px;
    width: 100%;
    position: absolute;
    top: 635px;
    background: linear-gradient(#691B84, #2B1E66);
}
.aride {
    height: 33px;
    width: 272px;
    color: #fff;
    position: absolute;
    font-size: 30px;
    letter-spacing: -0.1px;
    left: 160px;
    font-weight: 500;
    letter-spacing: -1.6px;
    top: -15px;
}
.aridetext {
    position: absolute;
    color: #fff;
    font-weight: lighter;
    height: 54px;
    width: 413px;
    left: 160px;
    top: 58px;
    line-height: 20px;
    font-size: 15.7px;
    letter-spacing: 0.1px;
}
.phone {
    position: absolute;
    left: 720px;
    bottom: 150px;
    top: -10px;
}
.safety {
    height: 33px;
    width: 351px;
    color: #fff;
    position: absolute;
    font-size: 30px;
    letter-spacing: -0.1px;
    left: 160px;
    font-weight: 500;
    letter-spacing: -1.6px;
    top: 145px;
}
.safetext {
    position: absolute;
    color: #fff;
    font-weight: lighter;
    height: 54px;
    width: 420px;
    left: 160px;
    top: 215px;
    line-height: 20px;
    font-size: 15.7px;
    letter-spacing: 0.1px;
}
.happyr {
    height: 33px;
    width: 235px;
    color: #fff;
    position: absolute;
    font-size: 30px;
    letter-spacing: -0.1px;
    left: 160px;
    font-weight: 500;
    letter-spacing: -1.6px;
    top: 295px;
}
.happyrtext {
    position: absolute;
    color: #fff;
    font-weight: lighter;
    height: 54px;
    width: 473px;
    left: 160px;
    top: 405px;
    line-height: 20px;
    font-size: 15.7px;
    letter-spacing: 0.1px;
}
.box4 {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 1205px;
}
.textbox4 {
    position: absolute;
    width: 334px;
    height: 173px;
    left: 55px;
    top: 30px;
    line-height: 24px;
}
.textbox4 p {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -1px;
}
.textbox4 h5 {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    padding-bottom: 28px;
    letter-spacing: -1px;
}
.textbox4-2 {
    position: absolute;
    width: 334px;
    height: 173px;
    left: 955px;
    top: 525px;
    line-height: 24px;
}
.textbox4-2 p {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -1px;
}
.textbox4-2 h5 {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    padding-bottom: 28px;
    letter-spacing: -1px;
}
.textbox4-3 {
    position: absolute;
    width: 334px;
    height: 173px;
    left: 55px;
    top: 1025px;
    line-height: 24px;
}
.textbox4-3 p {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -1px;
}
.textbox4-3 h5 {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    padding-bottom: 28px;
    letter-spacing: -1px;
}
.footer {
    height: 549PX;
    width: 100%;
    background-color: #333447;
    position: absolute;
    top: 1450px;
    color: #fff;
}
div.footertxt {
    position: absolute;
    height: 251px;
    width: 800px;
    top: 60px;
    left: 130px;
    column-count: 3;
    line-height: 45px;
    padding-left: 10px;
    font-weight: lighter;
}
.footertxt h3 {
    color: #fff;
    margin-top: 0;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
}
div.footertxt a {
    color: #fff;
    text-decoration: none;
}
div.footertxt a:hover{
    color:#FF00BF;
    text-decoration: underline;
}
.appsicons {
    width: 133px;
    position: absolute;
    right: 285px;
    top: 73px;
}
.appsicons img {
    margin: 16px;
    cursor: pointer;
}
div.line {
    position: absolute;
    height: 60px;
    width: 765px;
    top: 430px;
    left: 302px;
    border-top: thin solid white;
    text-align: center;
}
div.line p {
    position: relative;
    top: 30px;
}
.icons {
    position: absolute;
    top: 378px;
    left: 565px;
}
.icon-facebook:before {
    font-size: 15px;
    content: "\ea90";
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 9px;
    margin-right: 63px;
    cursor: pointer;
}
.icon-instagram:before {
    font-size: 15px;
    content: "\ea92";
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 9px;
    margin-right: 63px;
    cursor: pointer;
}
.icon-twitter:before {
    font-size: 15px;
    content: "\ea96";
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 9px;
    cursor: pointer;
}